<h1>Welcome to Re:mix!</h1>
<p>Re:mix is a recording platform for sharing media data.</p>
<p>Check out <a href="/projects">Projects</a> or <a href="/users">Users</a>.</p>

<p>{{copyright "2014"}}</p>
