@import 'vendor/bootstrap.min.css'
@import 'base_view'

body
  background-color: whitesmoke
  padding-top: 50px

  &.loading
    .loading-indicator
      display: block

.hidden
  visibility: hidden

.none
  display: none

.loading-indicator
  display: none
  float: right
  color: white
  line-height: 40px

.projects_index_view ul
.users_index_view ul
  display: flex
  flex-wrap: wrap
  width: 100%

.projects_index_view ul > li
.users_index_view ul > li
  flex-basis: 33%
  list-style: none
  margin-top: 20px

.projects_show_view
  display: flex

.projects_show_view > .cover-art
  flex-basis: 25%

.projects_show_view > .project-descriptions
  flex-basis: 75%

.projects_show_view .background
  position: absolute
  z-index: 100

.projects_show_view .foreground
  position: absolute
  z-index: 200
  opacity: 0.6

.projects_show_view .foreground:hover
  opacity: 1.0
